@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}
.navbar h1 {
  color: #0c5552;
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color: #0d9e99;
}
.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}

/* blog previews / list */
.blog-preview {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa;
}
.blog-preview:hover {
  box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
}
.blog-preview h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 8px;
}
.blog-preview a{
  text-decoration: none;
}

/* blog details page */
.blog-details h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 10px;
}
.blog-details div {
  margin: 20px 0;
}
.blog-details button {
  background: #f1356d;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

/* service request form */
.serviceform {
  max-width: 800px;
  margin: 0 auto;
  text-align: left;

}
.serviceform label {
  text-align: left;
  display: block;
  margin-top: 5px;
  margin-bottom: 8px;
  font-weight: 500;

}
.serviceform h2 {
  font-size: 20px;
  color: #0c5552;
  margin-bottom: 80px;
}
.serviceform h3 {
  font-size: 20px;
  font-weight: 800;
  color: #000000;
  margin-bottom: 8px;
  text-align: center;

}
.serviceform p {
  font-size: 18px;
  color: #000000;
  margin-bottom: 10px;
  text-align: center;

}
.serviceform input, .serviceform textarea, .serviceform select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 2px solid #ddd;
  box-sizing: border-box;
  display: block;
  color: #000000;

}
.serviceform button {
  background: #0c5552;
  color: #fff;
  border:3px;
  padding: 10px;
  border-radius: 50px;
  cursor: pointer;
  text-align: center;

}

